body {
  font-family: sans-serif, Arial;
}

li a {
	display: inline-block;
}

#page {
	min-height: 100vh;
	/* 1 */
	display: flex;
	/* 2 */
	flex-direction: column;
	/* 3 */
}

nav {
	padding: 4px 20px;
	padding-top: 10px;
	float: right;
}

nav ul li {
	display: inline-block;
	color: #fff;
}

nav a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
}

nav ul li a:hover {
	text-decoration-line: underline;
	opacity: 0.65;
	color: #f2f2f2;
}

ul {
	flex-direction: row;
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex-direction: row
}

.apps {
	width: 10px;
	height: 10px;
	
	padding-right: 9px;
	opacity: 0.75;
}

.connexion {
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	line-height: 28px;
	padding: 0 12px;
}

#container {
	flex-grow: 1;
	align-self: center;
	display: block;
	height: 233px;
	margin-top: 89px;
	padding-top: 112px;
	padding-bottom: 20px;
}

img {
	text-align: center;
	display: block;
}

a {
	text-decoration: none;
	color: #5f6368;
	margin: 11px 4px;
	padding: 0 16px;
}
a:hover {
	text-decoration: underline;
	font-weight: bold;
	
	
	text-align: center;
}

input {
	line-height: 34px width: 585px;
	height: 39px;
	border: .7px solid #E4E4E4;
	background-color: #fff;
	box-shadow: 0px 1px 4px #E4E4E4;
	margin: 20px;
	outline: none;
	display: flex;
	padding-left: 12px;
	padding-top: 6px;
	text-indent: 15px;
}



button {
	background-color: #f2f2f2;
	color: #757575;
	font-size: 16px;
	font-weight: bold;
	font-size: 13px;
	height: 36px;
	line-height: 27px;
	height: 36px;
	margin: 11px 14px;
	padding: 0 16px;
}

buttons:hover {
	border-radius: 2px;
	color: #000;
	box-shadow: 0px 1px 4px #E4E4E4;
}

#main {
	display: flex;
	flex-grow: 1;


#firstfooter {
	float: left;
	background-color: #f2f2f2;
	border-top: solid 2px #e4e4e4;
}

#secondfooter {
	display: flex;
	justify-content: space-between;
	color: #666666;
	background-color: #f2f2f2;
  border: 1px solid black;
}
#secondfooter.footerleft {
	display: flex;
justify-content: flex-start;}

#secondfooter.footerright{


}
