body {
	font-family: sans-serif, Arial;
}

li a {
	display: inline-block;
}

#page {
	min-height: 100vh;
	/* 1 */
	display: flex;
	/* 2 */
	flex-direction: column;
	/* 3 */
}

nav {
	padding: 4px 20px;
	padding-top: 10px;
	float: right;
}

nav ul li {
	display: inline-block;
	color: #fff;
}

nav a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
}

nav ul li a:hover {
	text-decoration-line: underline;
	opacity: 0.65;
}

ul {
	flex-direction: row;
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex-direction: row
}

.apps {
	width: 8px;
	height: 8px;
	margin-top: -2px;
	padding-right: 9px;
	opacity: 0.75;
}

.connexion {
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	line-height: 28px;
	padding: 0 12px;
}

#container {
	flex-grow: 1;
	/* 4 */
}

/* GOOGLE  */

container {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: 112px;
	padding-bottom: 20px;
	top: 40%;
}

img {
	text-align: center;
	display: block;
}

a {
	text-decoration: none;
	background-color: #f2f2f2;
	color: #5f6368;
}

input {
	line-height: 34px
}

a:hover {
	text-decoration: underline;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}

button {
	background-color: #f2f2f2;
	color: #757575;
	font-size: 16px;
	font-weight: bold;
	font-size: 13px;
	height: 36px;
	line-height: 27px;
}

footer {
	bottom: 0;
	background-color: #f2f2f2;
}

#main {
	display: flex;
	flex-grow: 1;
}

#firstfooter {
	margin-left: 30px;
	text-align: left;
	line-height: 40px;
}

#secondfooter {
	height: 60px;
	display: flex;
}

	{
	float: right;
}

#secondfooter ul {
	flex-direction: row;
}
